* {
  margin: 0;
  padding: 0; }

.container-full {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both; }

.container {
  position: relative;
  margin: auto;
  height: auto;
  clear: both; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.row {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both; }

@media (min-width: 1200px) {
  .col-lg-12 {
    position: relative;
    float: left;
    width: 100%;
    height: auto; }
  .col-lg-11 {
    position: relative;
    float: left;
    width: 91.66666667%;
    height: auto; }
  .col-lg-10 {
    position: relative;
    float: left;
    width: 83.33333333%;
    height: auto; }
  .col-lg-9 {
    position: relative;
    float: left;
    width: 75%;
    height: auto; }
  .col-lg-8 {
    position: relative;
    float: left;
    width: 66.66666667%;
    height: auto; }
  .col-lg-7 {
    position: relative;
    float: left;
    width: 58.33333333%;
    height: auto; }
  .col-lg-6 {
    position: relative;
    float: left;
    width: 50%;
    height: auto; }
  .col-lg-5 {
    position: relative;
    float: left;
    width: 41.66666667%;
    height: auto; }
  .col-lg-4 {
    position: relative;
    float: left;
    width: 33.33333333%;
    height: auto; }
  .col-lg-3 {
    position: relative;
    float: left;
    width: 25%;
    height: auto; }
  .col-lg-2 {
    position: relative;
    float: left;
    width: 16.66666667%;
    height: auto; }
  .col-lg-1 {
    position: relative;
    float: left;
    width: 8.33333333%;
    height: auto; }
  .hidden-lg {
    display: none; } }

@media (max-width: 1199px) and (min-width: 992px) {
  .col-md-12 {
    position: relative;
    float: left;
    width: 100%;
    height: auto; }
  .col-md-11 {
    position: relative;
    float: left;
    width: 91.66666667%;
    height: auto; }
  .col-md-10 {
    position: relative;
    float: left;
    width: 83.33333333%;
    height: auto; }
  .col-md-9 {
    position: relative;
    float: left;
    width: 75%;
    height: auto; }
  .col-md-8 {
    position: relative;
    float: left;
    width: 66.66666667%;
    height: auto; }
  .col-md-7 {
    position: relative;
    float: left;
    width: 58.33333333%;
    height: auto; }
  .col-md-6 {
    position: relative;
    float: left;
    width: 50%;
    height: auto; }
  .col-md-5 {
    position: relative;
    float: left;
    width: 41.66666667%;
    height: auto; }
  .col-md-4 {
    position: relative;
    float: left;
    width: 33.33333333%;
    height: auto; }
  .col-md-3 {
    position: relative;
    float: left;
    width: 25%;
    height: auto; }
  .col-md-2 {
    position: relative;
    float: left;
    width: 16.66666667%;
    height: auto; }
  .col-md-1 {
    position: relative;
    float: left;
    width: 8.33333333%;
    height: auto; }
  .hidden-md {
    display: none; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-sm-12 {
    position: relative;
    float: left;
    width: 100%;
    height: auto; }
  .col-sm-11 {
    position: relative;
    float: left;
    width: 91.66666667%;
    height: auto; }
  .col-sm-10 {
    position: relative;
    float: left;
    width: 83.33333333%;
    height: auto; }
  .col-sm-9 {
    position: relative;
    float: left;
    width: 75%;
    height: auto; }
  .col-sm-8 {
    position: relative;
    float: left;
    width: 66.66666667%;
    height: auto; }
  .col-sm-7 {
    position: relative;
    float: left;
    width: 58.33333333%;
    height: auto; }
  .col-sm-6 {
    position: relative;
    float: left;
    width: 50%;
    height: auto; }
  .col-sm-5 {
    position: relative;
    float: left;
    width: 41.66666667%;
    height: auto; }
  .col-sm-4 {
    position: relative;
    float: left;
    width: 33.33333333%;
    height: auto; }
  .col-sm-3 {
    position: relative;
    float: left;
    width: 25%;
    height: auto; }
  .col-sm-2 {
    position: relative;
    float: left;
    width: 16.66666667%;
    height: auto; }
  .col-sm-1 {
    position: relative;
    float: left;
    width: 8.33333333%;
    height: auto; }
  .hidden-sm {
    display: none; } }

@media (max-width: 767px) {
  .col-xs-12 {
    position: relative;
    float: left;
    width: 100%;
    height: auto; }
  .col-xs-11 {
    position: relative;
    float: left;
    width: 91.66666667%;
    height: auto; }
  .col-xs-10 {
    position: relative;
    float: left;
    width: 83.33333333%;
    height: auto; }
  .col-xs-9 {
    position: relative;
    float: left;
    width: 75%;
    height: auto; }
  .col-xs-8 {
    position: relative;
    float: left;
    width: 66.66666667%;
    height: auto; }
  .col-xs-7 {
    position: relative;
    float: left;
    width: 58.33333333%;
    height: auto; }
  .col-xs-6 {
    position: relative;
    float: left;
    width: 50%;
    height: auto; }
  .col-xs-5 {
    position: relative;
    float: left;
    width: 41.66666667%;
    height: auto; }
  .col-xs-4 {
    position: relative;
    float: left;
    width: 33.33333333%;
    height: auto; }
  .col-xs-3 {
    position: relative;
    float: left;
    width: 25%;
    height: auto; }
  .col-xs-2 {
    position: relative;
    float: left;
    width: 16.66666667%;
    height: auto; }
  .col-xs-1 {
    position: relative;
    float: left;
    width: 8.33333333%;
    height: auto; }
  .hidden-xs {
    display: none; } }
